$color-background: #f5f5f5;
$width-leftmenu: 270px;
$font-family: "Inter", sans-serif;

$color-blue: #3689eb;
$color-blue-2: #007afc;
$color-blue-3: #DCECFF;

$color-grey: #5a5a5a;
$color-grey-2: #acacac;
$color-grey-3: #c4c4c4;
$color-grey-4: #e5e5e5;

$color-dark: #212529;
$color-dark-2: #393131;

$color-green: #8AE174;
$color-green-2: #E3FFDC;

$color-orange: #FFB525;
$color-orange-2: #FFF6E4;

$color-red-4: #FFECEC;

$primary: $color-blue-2;
$secondary: $color-grey;
$danger: #ff4343;
$warning: #e5e505;
$dark: $color-dark;
$grey: #f3f3f3;
$white: #ffffff;

$color-primary: $primary;

$h1: 6rem;
$h2: 3.75rem;
$h3: 3rem;
$h4: 2.125rem;
$h5: 1.5rem;
$h6: 1.1rem;
$subtitle1: 1rem;
$subtitle2: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$button-font-size: 0.875rem;
$border-radius: 8px;
